body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #CCC;
    margin: 0px 0px;
}

.container {
    width: 500px;
    margin: 0px auto;
    border: 1px solid greenyellow;
    background-color: white;
}

.header{
    margin: 10px 20px;
}

.content{
    margin-top: 20px;
}

.chanels{
    display: grid;
    grid-template-columns: 50px auto 50px;
    margin: 0px 100px;
}

.button {
    display: block;
    width: 20px;
    background-color: black;
    border: none;
    color: white;
    padding: 3px 5px;
    text-decoration: none;
    font-size: 20px;
    margin: 0px auto 3px;
    cursor: pointer;
    border-radius: 20px;
}

.button-on {
    background-color: #3f3;
}

.button-on:hover {
    background-color: #6f6;
}

.button-off {
    background-color: #e22;
}

.button-off:hover {
    background-color: #e55;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: #CCC;
    text-align: center;
}

/* 
html {
    font-family: Helvetica;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
}

body {
    margin-top: 50px;
}

h1 {
    color: #444444;
    margin: 50px auto 30px;
}

h3 {
    color: #444444;
    margin-bottom: 50px;
}

.button {
    display: block;
    width: 80px;
    background-color: #3498db;
    border: none;
    color: white;
    padding: 13px 30px;
    text-decoration: none;
    font-size: 25px;
    margin: 0px auto 35px;
    cursor: pointer;
    border-radius: 4px;
}

.button-on {
    background-color: #3498db;
}

.button-on:active {
    background-color: #2980b9;
}

.button-off {
    background-color: #34495e;
}

.button-off:active {
    background-color: #2c3e50;
}

p {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
}
*/